
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.ezbuild {
  color: white;
  font-size: 50px;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ezbuild:hover {
  transform: scale(1.05);
  color: rgb(231, 85, 85);
  cursor: pointer;
}

.btn {
  margin-top: 40px;
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #0070f3;
  color: #0070f3;
  transform: scale(1.05);
}

.Box {
  margin-top: 50px;
  height: 200px;
  width: 100%;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.AboutText {
  color: rgb(198, 198, 198);
  font-size: 20px;
  max-width: 650px;
  line-height: 1.5;
  transition: color 0.3s ease;
}

.AboutText:hover {
  color: white;
}
