.ezbuild {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 5%;
    left: 40%;
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), 
                color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ezbuild:hover {
    transform: scale(1.05);
    color: rgb(231, 85, 85);
    cursor: pointer;
}
